<launch>
    <!-- Basic launch file to init the kobuki base and sensor data streams -->

    <!-- Kobuki base -->
    <include file="$(find kobuki_node)/launch/minimal.launch" />

    <group ns="turtlebot_sensors">
        <!-- LiDAR -->
        <node pkg="urg_node" name="hokuyo_lidar" type="urg_node" args="_ip_address:=192.168.0.10"/>

        <!-- Intel Realsense (Depth Camera) -->
        <include file="$(find realsense2_camera)/launch/rs_rgbd.launch" />

        <!-- Astra camera (if used) -->
        <include file="$(find astra_camera)/launch/astra.launch" />
    </group>

</launch>